<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Esferas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Exemplo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Exemplo3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ExemploBule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>GLSLlight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Gamut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OpenGLHW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Ray3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>RayTracing1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>RayTracing2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Trab2Rendering.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B718B44A18D92C7E00D4279A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B718B45E18D931FE00D4279A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B74BF313193432E000196328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B77FCE4E18FC91AA0024415E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B77FCE5D18FCBB680024415E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78878B9193434B9009C6348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7AB1D0C18FD54130041AF69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7F3996A18F44E8100057156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7F3997918F45EE300057156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7F3998818F4628900057156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7F3999718F46E9D00057156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FBA61B1934D7FD00E018F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
